<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/phnx_browser_icon"
        android:label="@string/app_name"
        android:name=".PhnxApplication"
        android:roundIcon="@drawable/phnx_browser_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhNX"
        android:usesCleartextTraffic="true">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".about.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".about.LegalActivity"
            android:exported="false" />
        <activity
            android:name=".about.UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".history.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".bookmarks.BookmarksActivity"
            android:exported="false" />
        <activity
            android:name=".downloads.DownloadsActivity"
            android:exported="false" />
        <activity
            android:name=".search.SearchEngineActivity"
            android:exported="false" />
        <activity
            android:name=".settings.SettingsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".autofill.AutofillActivity"
            android:exported="false" />
        <activity
            android:name=".network.NetworkActivity"
            android:exported="false" />
        <activity
            android:name=".privacy.PrivacyActivity"
            android:exported="false" />
        <activity
            android:name=".privacy.ClearDataActivity"
            android:exported="false" />
        <activity
            android:name=".resources.PerformanceActivity"
            android:exported="false" />
        <activity
            android:name=".permissions.PermissionActivity"
            android:exported="false" />
        <activity
            android:name=".identity.IdentityActivity"
            android:exported="false" />
        <activity
            android:name=".identity.IdentityDiagnosticActivity"
            android:exported="false" />
        <activity
            android:name=".profiles.ProfilesActivity"
            android:exported="false" />
        <activity
            android:name=".system.DefaultBrowserActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
    </application>
</manifest>
